@charset "utf-8";
/* CSS Document */




:root{
	--backGroundColor: white;
	--ButtonBackGroundColor: #00AAFF;
	--Container2BackGroundColor: rgba(255,255,255,0.95);
	--ButtonBackGroundColor: rgba(0,170,255,1.00);
	--ButtonPressBackGroundColor: rgba(0,140,220,1.00);
	--HomePageDisplayer: rgba(248,250,252,1.00);
}
