@charset "utf-8";
/* CSS Document */




:root{
	--backGroundColor: white;
	--ButtonBackGroundColor: #00AAFF;
	--Container2BackGroundColor: rgba(241,210,120,1.00);
	--ButtonBackGroundColor: rgba(236,191,39,1.00);
	--ButtonPressBackGroundColor: rgba(200,174,88,1.00);
	--HomePageDisplayer: rgba(255,190,0,1.00);
}
